<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Requests</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/background.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/a_repair.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/navbar.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/upArrow.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/global.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
    <nav class="navbar news">
        <div class="bnn">
            <div onclick="openSide()" >
            <i class="fa fa-bars fa-3x"></i>
        </div>
            <h1 class="Header">REQUESTS </h1>   
        </div>
    </nav>
    <div id="side-menu" class="sidenav">
        <div class="btn-close" onclick="closeSide()">&times;</div>
        <a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a> 
        <a href="/admin/<%= building_id  %>"><i class="fa fa-newspaper"></i> Announcements</a>
        <a href="/admin/<%= building_id %>/manage"><i class="fa fa-address-book" aria-hidden="true"></i> Manage Tenants</a>
        <a href="/admin/<%= building_id %>/requests"><i class="fa fa-wrench"></i> Repair Requests</a>
        <a href="#"><i class="fa fa-comments"></i>FUTURE UPDATE</a>
        <a href="/settings"><i class="fa fa-cog"></i> Settings</a>          
        
        <span class="border-bottom" style="display:block"></span>
        
        <form action='/logout' method="GET">
            <button class="btn btn-danger logout" type="submit"><i class="fa fa-power-off"></i></button>
        </form>
    </div>
    <% if(problems.length !== 0) { %>
    <div class="body-page" onClick="closeSide()">
        <div class="pending">
            <h2>Pending Requests</h2>
            <div class="reqContainer">
            <% problems.forEach( (a) => { %>
                <% if(a.repairs.status === 'pending') { %> 
                <div class="reqSub">
                    <span class='c'>
                        <h3><%= a.repairs.issue %> </h3>
                        <a href="/admin/<%= building_id  %>/requests/p/<%= a.repairs.id %>/<%= a.repairs.sched_date %>" class="btns btn-warning">Push Back 1 day</a> 
                        <span>&nbsp;&nbsp;</span>
                        <a href="/admin/<%= building_id  %>/requests/d/<%= a.repairs.id %>" class="btns btn-success">Finished</a> 
                    </span>
                    <p style="font-weight: bold;"><span id="tenant"><%=a.repairs.tenant%>,</span><span id="addr"> <%=a.repairs.address%> </span><span id="aptNum">APT <%=a.repairs.apt%></span></p>
                    <% if(a.repairs.comments) { %>
                    <p><%= a.repairs.comments %></p>
                    <% } %>
                    <% if(a.repairs.image !== 'no') { %>
                    <img src="/admin/<%= building_id  %>/image/<%= a.img._id%>"/>
                    <% } %>
                    <p><span class="text-muted">Request Date: <%= a.repairs.date.toLocaleDateString() %> </span><span style="font-weight: bold;">Scheduled Repair Date: <%=a.repairs.sched_date.toLocaleDateString()%></span></p>
                </div>
                <% }}) %>
            </div> 
        </div>
    </div>
    <% } else { %>
        <div class="dflt-msg">
            <p> No Active Requests</p>
        </div>
    <% } %>
    <div class='completedContainer'>
        <div class="abc123">
            <h2>Completed Requests</h2>
            <div class="comcon">
                <% problems.forEach( (a) => { %>
                    <% if(a.repairs.status === 'completed') { %>
                    <div class="comSub">
                        <span class='c'>
                            <h3><%= a.repairs.issue %> </h3>
                        </span>
                        <p style="font-weight: bold;"><span id="tenant"><%=a.repairs.tenant%>,</span><span id="addr"> <%=a.repairs.address%> </span><span id="aptNum">APT <%=a.repairs.apt%></span></p>
                    <% if(a.repairs.comments) { %>
                    <p><%= a.repairs.comments %></p>
                    <% } %>
                    <% if(a.repairs.image !== 'no') { %>
                        <img src="/admin/<%= building_id  %>/image/<%= a.img._id%>"/>
                    <% } %>
                    <p><span class="text-muted">Request Date: <%= a.repairs.date.toLocaleDateString() %> </span><span style="font-weight: bold;">Scheduled Repair Date: <%=a.repairs.sched_date.toLocaleDateString()%></span></p>
                    </div>
                <% }}) %>
            </div>
        </div>
    </div>
    
    <div>
    <i class="scroll-up" id="scroll-up"><img src="/public/images/upward.gif" class="side_bar up-arrow" alt="" /></i>
    </div>
</body>

<script src="/public/scripts/scrollTop.js"></script>
<script src="/public/scripts/navbar.js"></script>