<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Announcements</title>
    <%- include("../partials/css_partials/admin_ann_css")%>
</head>
<body>
    <%- include("../partials/build_nav", {title:"Announcement"})%>
    <% if(Object.entries(news).length > 0) { %>
    <div class="row" onClick="closeSide()">
        <div class="col newest">
            <h2>NEWEST ANNOUNCEMENT</h2>
                <% news.reverse().forEach( (a,index) => { %>
                    <% if(index === 0 )  { %>
                            <div class="newest-container">
                                <span class="topline"> 
                                    <h3><%= a.title %></h3> 
                                    <a href="/admin/<%= building_id %>/edit/<%= a.id %>" class="btn btn-warning">Edit</a> 
                                </span>
                                <div class="content">
                                    <p><%= a.body %></p>
                                    <p class='text-muted'><%= a.date.toLocaleDateString() %> &nbsp;   <%= a.date.toLocaleTimeString() %></p>
                                </div>
                            </div>
                        </div>        
                    <% }}) %>
        <% if(Object.entries(news).length > 1) { %>
        <div class="col recent">
            <h2>Recent News</h2>
            <% news.forEach( (a,index) => { %>    
                <% if(index > 0) { %>
                    <div class="recent-container">
                        <span class="topline"> 
                            <h3><%= a.title %></h3> 
                            <a href="/admin/<%= building_id %>/edit/<%= a.id %>" class="btn btn-warning">Edit</a> 
                        </span>
                        <div class="content">
                            <p><%= a.body %></p>
                            <p class='text-muted'><%= a.date.toLocaleDateString() %> &nbsp;   <%= a.date.toLocaleTimeString() %></p>
                        </div>
                    </div>
                <% }})}} else { %> 
            <div id="sp-div">
                <p> There are no announcements. Would you like to make one?</p>
                <a id="sp-btn" href="/admin/<%= building_id %>/new" class="btn btn-primary">New ANNOUNCEMENTS</a>
            </div> 
        </div>       
        <% } %>
    </div>
</body>

<script src="/public/scripts/navbar.js"></script>
<script>
    function confirmation(id){
        console.log(id);
        let confirm = document.getElementById('confirming');
        let check = document.getElementById('accept');
        let check2 = document.getElementById('cancel');
        if(!check && !check2){
            const warning = document.createElement('p');
            warning.id = 'warning'
            warning.innerHTML = 'Are you sure? This action cannot be undone'
            warning.style.color = 'RED';
            confirm.appendChild(warning)
            const form = document.createElement('form')
            form.method = 'POST';
            form.action = `/admin/${id}/delBuild`;
            let accept = document.createElement('button')
            accept.id = 'accept'
            accept.classList.add("btn", "btn-danger")
            accept.innerHTML = "Accept and Delete"
            form.appendChild(accept);
            confirm.appendChild(form);
            event.preventDefault();
            let cancel = document.createElement('button')
            cancel.id = 'cancel'
            cancel.classList.add("btn", "btn-secondary")
            cancel.innerHTML ="Cancel"
            cancel.setAttribute('onclick', 'stopIt()');

            confirm.append(cancel);
        }
    }

    function stopIt() {
        document.getElementById('warning').remove()
        document.getElementById('accept').remove()
        document.getElementById('cancel').remove()
    }

</script>
