<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Requests</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/background.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/a_repair.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/navbar.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/global.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
    <%- include("../partials/build_navGeneric", {title:"Repairs"})%>
    <% if(problems.length !== 0) { %>
        <div class="pendingContainer" onClick="closeSide()">
            <h2>Pending Requests</h2>
            <div class="reqContainer">
                <% problems.forEach( (a) => { %>
                    <% if(a.status === 'emergency') { %> 
                        <a class='btn btn-r btn-primary' href="/admin/<%= building_id  %>/requests/<%= a._id %>">
                            <p>Issue: <span class="subtext"> <%= a.issue %> </span> </p>
                        <p>From apt: <span class="subtext"><%= a.apt %> </span> </p>
                        <p>Date Requested: <span class="subtext"> <%= a.date.toLocaleDateString() %> </span> </p>
                        </a>
                <% }}) %>
                <% problems.forEach( (a) => { %>
                <% if(a.status === 'pending') { %> 
                    <a class='btn btn-r btn-primary' href="/admin/<%= building_id  %>/requests/<%= a._id %>">
                        <p>Issue: <span class="subtext"> <%= a.issue %> </span> </p>
                        <p>From apt: <span class="subtext"><%= a.apt %> </span> </p>
                        <p>Date Requested: <span class="subtext"> <%= a.date.toLocaleDateString() %> </span> </p>
                    </a>
                <% }}) %>
            </div> 
        </div>
        <% } else { %>
            <div class="dflt-msg">
                <p> No Active Requests</p>
            </div>
        <% } %>
        <div class='completedContainer'>
                <h2>Finished Requests</h2>
                <div class="comcon">
                    <% problems.forEach( (a) => { %>
                        <% if(a.status === 'completed') { %>
                            <a class='btn btn-r btn-primary' href="/admin/<%= building_id  %>/requests/<%= a._id %>">
                                <p>Issue: <span class="subtext"> <%= a.issue %> </span> </p>
                        <p>From apt: <span class="subtext"><%= a.apt %> </span> </p>
                        <p>Date Requested: <span class="subtext"> <%= a.date.toLocaleDateString() %> </span> </p></a>
                    <% }}) %>
                </div>
            </div>
        </div>
    </body>
    
    <script src="/public/scripts/navbar.js"></script>

<!-- DATE SELECT SCRIPT-->
<!---->
<!--------------------------->