<div class="body-page">
    <h1>ANNOUNCEMENTS</h1>
        <div class='sub-container'>
            <a href="/m/new" class="btn btn-primary">New ANNOUNCEMENTS</a>
            <form action='/logout' method="GET">
                <button class="btn btn-primary" type="submit">Log Out</button>
            </form>
            <% stuff.reverse().forEach( (a,index) => { %>
                <% if(index == 0 )  { %>
                    <div class="latest-header">NEWEST ANNOUNCEMENT
                        <div class="latest-container">
                            <p class='sub-a'><%= a.title %></p>
                            <p class='sub-b'><%= a.body %></p>
                            <% /* %> <p class='sub-c'><%= a.date %></p> <% */ %>
                        </div>
                    </div>
                        
                <% } %>
                <% if(index > 0) { %>
                    <div class="post">
                    
                    <p class='sub-a'><%= a.title %></p>
                    <p class='sub-b'><%= a.body %></p>
                   <% /* %> <p class='sub-c'><%= a.date %></p> <% */ %>
                </div>
                <% } %>
            <% }) %>
        </div>
    </div>
<style>

.container {
    position: relative;
    height:100vh;
    width:90vw;
    margin-left:5vw;
    margin-right:5vw;
    background: rgba(255,255,255,.5);
    overflow: auto;
}

.sub-container {
    position: relative;
    background: gray;
    height: 100%;
    width: 100%;
    color: white;
    overflow: auto;
    font-size: 30px;
}

.latest-header {
    background: black;
    padding: 5px;
}

.latest-container {
    margin:5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    background: lightblue;
    border-radius: 5px 5px 5px 5px;
}

.post {
    margin:5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    background: lightblue;
    border-radius: 5px 5px 5px 5px;
}

.sub-a {
    margin: 5px;
    padding: 13px;
    background: rgba(0,0,0,.4);
    border-radius: 15px 15px 15px 15px;
}

.sub-b {
    background: lightslategray;
    margin: 5px;
    padding: 13px;
    height: 200px;
    border-radius: 15px 15px 15px 15px;
    overflow: auto;
}

.sub-c {
    position: relative;
    font-size: 20px;
    background: rgb(151, 197, 212);
}

</style>