<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    
    <!-- for making sure the page scrolls properly regardless of screen size -->
    <script type="text/javascript">
        window.onload=function(){
            var viewportWidth  = document.documentElement.clientWidth;
            if(viewportWidth < 600){ 
                document.getElementsByName("viewport")[0].setAttribute("content","width=601, initial-scale=1.0");
            }
        };

        window.addEventListener("resize", function(event) {
            var viewportWidth  = document.documentElement.clientWidth;
            if(viewportWidth < 600){ 
                document.getElementsByName("viewport")[0].setAttribute("content","width=601, initial-scale=1.0");
            }
        });
    </script>

    <title>Announcements</title>
    <%- include("../partials/css_partials/user_rep_css")%>

    <!-- SCRIPT LINKS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <!---------------->
</head>

<body>
    <%- include("../partials/build_navUser", {title:"Request Repair"})%>
    <div class="request">
            <h2>SUBMIT YOUR REQUEST</h2>
            <div id="error_message"></div>
        <form action="/user/<%= building_id %>/requests" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="issues col" id="issue">
                    <h4>Issues</h4>
                    <span id="only940row">
                    <span class="only940col">
                        <div class="form-check">
                            <label class="form-check-label" for="Door">
                                <input class="form-check-input" type="radio" name="issue" id="Door" value="Door">
                                Door
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="Window">
                                <input class="form-check-input" type="radio" name="issue" id="Window" value="Window">
                                Window
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="Heat">
                                <input class="form-check-input" type="radio" name="issue" id="Heat" value="Heat">
                                Heat
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="Water">
                                <input class="form-check-input" type="radio" name="issue" id="Water" value="Water">
                                Water
                            </label>
                        </div>
                    </span>
                    <span class="only940col">
                        <div class="form-check">
                            <label class="form-check-label" for="air_conditioning">
                                <input class="form-check-input" type="radio" name="issue" id="air_conditioning"
                                    value="Air conditioning">
                                Air conditioning
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="Electricity">
                                <input class="form-check-input" type="radio" name="issue" id="Electricity"
                                    value="Electricity">
                                Electricity
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="Wall">
                                <input class="form-check-input" type="radio" name="issue" id="Wall" value="Wall">
                                Wall
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="OtherIssue">
                                <input class="form-check-input" type="radio" name="issue" id="Other1" value="Other">
                                Other (specify)
                                <textarea class="" names="other" id="other1" cols="20" rows="1"
                                    placeholder="Example: bathtub"></textarea>
                            </label>
                        </div>
                    </span></span>
                </div>
                <div class="date col">
                    <p>Pick a date and time</p>

                    <div class="date-check ">
                        <label class="date-check-label" for="ASAP">
                            <input class="date-check-input" type="radio" name="date" id="Default" value="standard" onclick="shutMsg()">
                            Default(2 weeks)
                        </label>
                    </div>

                    <div class="date-check" id="emer">
                        <label class="date-check-label" for="Emergency">
                            <input class="date-check-input" type="radio" name="date" id="Emergency" value="Emergency" onclick="warnMsg()">
                            Emergency
                        </label>
                    </div>

                    <div class="date-check">
                        <label class="date-check-label" for="OtherDate">
                            <input class="date-check-input other" type="radio" name="date" id="Other" onclick="shutMsg()">
                            Choose a Date

                            <input type="text/javascript" id="datepicker">
                            <script>
                                $(function() {
                                    let dateToday = new Date();
                                    
                                    $( "#datepicker" ).datepicker({
                                        locale: {
                                            format: 'YYYY/MM/DD'
                                        },
                                        onSelect: function(selectedDate) {
                                            let option = this.id == "from" ? "minDate" : "maxDate",
                                                instance = $(this).data("datepicker"),
                                                date = instance;
                                        }
                                
                                    });
                                } );
                            </script>
                        </label>
                    </div>
                </div>
                <div class="image col">
                    <p>Upload Image</p>
                    <div class="dropzone" name="dragndrop" id="upload-widget">
                        <div class="dz-message" data-dz-message>
                            <span>
                                <p>[Optional]</p>
                                Click or drag and drop here to add an image
                                <br></br>
                            </span>
                        </div>
                        <div class="fallback">
                            <input type="file" accept="image/*" name="file" id="upload" >
                        </div>
                        <div class="previews"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="comments" id="comments" rows="5"
                    placeholder="Additional Comments..."></textarea>
            </div>
            <button type="submit" id="submitRepairRequest" class="btn">Submit</button>
        </form>
    </div>

    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <script>

        function warnMsg() {
            const msg = document.createElement('p');
            msg.textContent = 'Warning: This is for serious emergencies. If not a serious emergency choose a different option'
            msg.setAttribute('id','warningMsg')
            msg.style['color'] = 'red';
            // prevents multiple warningMsg popups if pressed more than once
            if (!document.getElementById('warningMsg')) {
                document.getElementById('emer').appendChild(msg);
            }
        }

        function shutMsg() {
            if(document.getElementById('warningMsg')) {
                document.getElementById('warningMsg').remove();
            }
            else {
                console.log('nothing to delete');
            }
        }
        

        
        Dropzone.options.uploadWidget = {
            url: '/user/<%= building_id %>/requests',
            
            // testing fallback image upload option
            forceFallback: false,
            
            // potentially redundant but needed for testing
            uploadOnDrop: false,
            
            disablePreviews: false,
            
            dictFallbackMessage: "Your browser doesn't support drag'n'drop image uploads",

            autoProcessQueue: false,
            uploadMultiple: false,
            maxFiles: 1,
            // maxFilesize: 1,
            // acceptedFiles: 'image/*',
            acceptedFiles: ['image/*'].join(','),
            addRemoveLinks: true,
            init: function() {
                dzClosure = this; // makes sure that 'this' is understood inside the functions below
                
                let submitPressed = false;
                var error = '';
                
                // makes sure that only one file is allowed in the dropzone
                this.on("addedfile", function(file) {
                    if (this.files.length > 1) {
                        this.removeFile(this.files[0]);
                        submitPressed = false;
                    }
                });

                // for Dropzone to process the queue instead of default form behavior
                document.getElementById("submitRepairRequest").addEventListener("click", function(e) {
                    // makes sure that the form isn't actually being sent
                    e.preventDefault();
                    e.stopPropagation();

                    document.getElementById("error_message").innerHTML = '';
                    error = '';

                    var checkedIssue = document.querySelector('input[name="issue"]:checked');
                    var checkedDate = document.querySelector('input[name="date"]:checked');
                    

                    // checks if there is an image added
                    if (dzClosure.files.length > 0 && checkedIssue != null && checkedDate != null) {
                        dzClosure.processQueue();
                        submitPressed = true;
                    }

                    // error messages based on whether issues/date and time were selected
                    else if (checkedIssue == null || checkedDate == null) {
                        error = '<div class="alert alert-danger">A';
                        if (checkedIssue == null) {
                            error += 'n issue ';
                        }
                        if (checkedIssue == null && checkedDate == null) {
                            error += 'and a';
                        }
                        if (checkedDate == null) {
                            error += ' date and time ';
                        }
                        document.getElementById("error_message").innerHTML = error + 'must be selected</div>';
                    }

                    // inserts default image if no image is submitted and uploads
                    else if (checkedIssue != null && checkedDate != null) {
                        // converts image to blob
                        fetch("../../public/images/logo.jpg")
                        .then(res => res.blob())
                        .then((convertedBlob) => {
                            const defaultImage = new File([convertedBlob], "filename.jpg", {
                                type: convertedBlob.type,
                            });
                            dzClosure.addFile(defaultImage);
                            dzClosure.processQueue();
                            submitPressed = true;
                        });
                    }
                });

                // sends all the form data along with the files
                this.on("sending", function(data, xhr, formData) {
                    // changes the value of the other issues radio button to the entered text in the textarea below it
                    if (document.getElementById("other1").value != '') {
                        document.getElementById("Other1").value = document.getElementById("other1").value;
                    }

                    formData.append("issue", document.querySelector('input[name="issue"]:checked').value);

                    // not working yet, for the date section
                    let temp = document.getElementById('datepicker').value;
                    temp = temp.split("/")
                    temp = temp[2] + '-' + temp[0] + '-' + temp[1];
                    document.getElementById("Other").value = temp;
                    formData.append("date", document.querySelector('input[name="date"]:checked').value);
                    
                    formData.append("comments", document.getElementById("comments").value);

                });

                // redirects user to repair history page
                this.on("queuecomplete", function (file) {
                    // stops redirect to repair history page if wrong file type drag'n'dropped and submit button not pressed
                    if (submitPressed) {
                        location.href = "/user/<%= building_id %>/history";
                    }
                });
            }
        }
    </script>

    <script src="/public/scripts/navbar.js"></script>

</body>

</html>