<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/background.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/home.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/navbar.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/global.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
    <%- include("../partials/home_nav")%>
    <h1>Welcome</h1>
    <div class="sh d-flex justify-content-center">
        <a href='/home/join' class="btn-light btn-block" role="button">BECOME A TENANT</a>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <a href='/home/create' class="btn-light btn-block" role="button">BECOME A LANDLORD</a>
    </div>
  <div class="container">
    <div class="container1">
        <h2>Landlord at</h2>
        <% if(list.length === 0) { %>
            <p>None</p>
            <% } %>
        <% if(list.length !== 0) { %>
            <% if(list)  { %>
            <% list.forEach((x) => { %>
                <a class='btn btn-r btn-primary btn-block' href="/admin/<%= x.build_id %>"><%= x.address %></a>
            <% })}} %>
    </div>
    <div class="container2">
        <h2>Tenant at</h2>
        <% if(u_list.length === 0) { %>
            <p>None</p>
            <% } %>
        <% if(u_list.length !== 0) { %>
            <% if(u_list)  { %>
                <% u_list.forEach((x) => { %>
                    <a class='btn btn-r btn-primary btn-block' href="/user/<%= x.build_id %>"><%= x.address %></a>
                <% })}} %>
    </div>
  </div>
</body>

<script src="/public/scripts/navbar.js"></script>
